{% extends "cartelgame/BasePage.html" %}
{% load staticfiles otree %}

{% block title %}More Information{% endblock %}

{% block content %}

<div class="well well-lg body">
  <p>You are in the <b>{% if Constants.part == 1 %}Practice{% else %}Experimental{% endif %} Session</b>.</p>

  {% if session.config.chat_detection_chance > 0 %}
    <p>There is a {{ session.config.chat_detection_chance }} percent chance that the computer may detect your use of the chat window. If the computer detects that your group used the chat window, all participants in your group will pay a penalty in the current round.</p>

    <p>The penalty in the current round will be reduced {% if session.config.chat_penalty_percentage == 100 %}to zero{% else %}by {{ session.config.chat_penalty_percentage}} percent{% endif %} if you are the first participant in your group to click on the button labelled REPORT.</p>
  {% endif %}

  {% if session.config.has_previous_round_detection %}
    <p>If a participant in your group clicked on the button labelled REPORT in the previous round, there is a FIXME percent chance that the computer may review the past immediate round and may detect the use of the chat window in that previous round.</p>

    <p>If the computer detects use of the chat window in that past round, all participants in your group including the participant who clicked on the REPORT button will pay the full penalty in addition to any other penalty from your play in the current round.</p>
  {% endif %}

  <p>Please click on the button labelled NEXT to continue.</p>

  {% next_button %}
</div>

{% endblock %}
