{% load otree %}

<h4>List of Payoffs by the End of Round {{ subsession.round_number }}</h4>

<table class="table">
    <tr>
        <th>Participant Code</th>
        <th>Average Payoff by End of Round {{ subsession.round_number }}</th>
    </tr>
    {% for player in players %}
        <tr>
            <td>
                {% if player.payoff == max_payoff %}
                    <b>{{ player.participant.code }}</b>
                {% else %}
                    {{ player.participant.code }}
                {% endif %}
            </td>
            <td>
                {% if player.payoff == max_payoff %}
                    <b>{{ player.payoff }}</b>
                {% else %}
                    {{ player.payoff }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<p><b>Bold</b> indicates that they have the highest payoff by the end of that round.</p>
