{% extends "cartelgame/BasePage.html" %}
{% load staticfiles otree %}

{% block content %}
    <div class="well well-lg body">
        <div style="display: grid; grid-template-columns: 2fr 2fr">
            <div>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Gross earnings</th>
                        {% if session.config.self_report %}
                            <th>Penalty</th>
                        {% endif %}
                        {% if session.config.has_previous_round_detection %}
                            <th>Additional penalty</th>
                        {% endif %}
                        <th>Net earnings</th>
                    </tr>
                    {% for p in group.get_players %}
                    <tr>
                        <th>Player {{ p.id_in_group }} {% if p == player %}(you){% endif %}</th>
                        <td>{{ p.gross_earnings }}</td>
                        {% if session.config.self_report %}
                            <td>{{ p.penalty }}</td>
                        {% endif %}
                        {% if session.config.has_previous_round_detection %}
                            <td>{{ p.additional_penalty }}</td>
                        {% endif %}
                        <td>{{ p.net_earnings }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <br />

                {% next_button %}
            </div>
            <div>
                {% include "cartelgame/calculator.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}

<style type="text/css">
    .center {
        text-align: center;
    }
</style>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "channels/js/websocketbridge.js" %}"></script>
<script>
    $(document).ready(function() {
        {% include "cartelgame/timernext.js" %}
    });
</script>
{% endblock %}
